#main{

width:100%;height:99%;
background-image:url("../images/background.jpg");


}

#division1{

 width:84%;
 height:98%;
 float:left;

}
img{
 width:220px;
 height:130px;
 border-radius:220px;
 float:left;

}

#division2{

 width:15%;
 height:100%;
 float:left;
 background-color: #333;
}

p{
  font-size: 25px;
 color:rgb(123,82,173);
 text-align: center; 
 }


header
{
color:rgb(255,100,26);
margin:0px 0px 0px 50px;
font-size:50px;

}




sub{
  font-size:30px;
}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    
   
}

li {
    border-right:1px solid #bbb;
    font-size:20px;
    width:300px;
    height:50px;
    margin:0px -30px 0px -30px;
   
    color: rgb(227,113,28);
}
li a {
    display: block;
    color: rgb(227,113,28);
    text-decoration:none;
    margin:0px 0px 0px 0px;
    
}
li a.active {
    background-color:black;
    color: white;
    }
    
li :hover:not(.active) {
    background-color: #4CAF50;
}



   #section1 {
        width: 20%;
        height: 17%;
        margin-top: 200px;
        margin-left: 500px;
    }
    
    #part1 {
        background-color: #035C7A;
        width: 100%;
        height: 40%;
        font-size: 25px;
        color: #02A082 ;
        text-align:center;
    }
    
    #part2 {
        background-color: #02A082;
        width: 100%;
        height: 60%;
        padding-top: 10px;
        text-align: center;
        color: #035C7A;
    }
    footer{
     margin-top:235px;
     margin-left:10px;
     font-size: 20px;
     color:white;

    }
 