#main{

width:100%;height:99%;border:1px solid pink;
background-image:url("img.jpg");


}

#division1{

 width:84%;
 height:99%;
 
 float:left;

}
#img{
 width:220px;
 height:130px;
 border-radius:220px;
 float:left;

}

#division2{

 width:15%;
 height:99%;

 float:left;
 background-color: #333;
}

#p{
 color:white;
 text-align:center;
}

p{
  font-size: 25px;
 color:rgb(123,82,173);
 text-align: center; 
 }

#logo{
width:220px;
height:130px;
border-radius:220px;
float:left;
  }

header
{
color:rgb(255,100,26);
margin:0px 0px 0px 50px;
font-size:50px;

}



sub{
  font-size:30px;
}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    
   
}

li {
    border-right:1px solid #bbb;
    font-size:20px;
    width:300px;
    height:50px;
    margin:0px -30px 0px -30px;
   
    color: white;
}
li a {
    display: block;
    color: rgb(227,113,28);
    text-decoration:none;
    margin:0px 0px 0px 0px;
    
}
li :hover:not(.active) {
    background-color: #4CAF50;
}



  #section1 {
        width: 13%;
        height: 30%;
        margin:190px 0px 0px 530px;
      
    }
    
   #part1 {
        background-color: #354A5F;
        width: 100%;
        height: 70%;
        color: red;
        padding-top: 5px;
        text-align: center;
        font-size:20px;
    }
    
    #part2 {
        background-color: #2D3E52;
        width: 100%;
        height: 20%;
        padding-top: 10px;
        text-align: center;
        font-size:25px;
        color:white;
        
    } 
    #p2{
        font-size:60px;
    }
    #p1{
        color: #686868;
    }
    #p3{
         color: #686868;
    }
    footer{
     margin-top:160px;
     margin-left:10px;
     font-size: 20px;
     color:blue;

    }
 
 