#main{

width:100%;height:99%;border:1px solid pink;
background-image:url("../images/background.jpg");


}

#division1{

 width:84%;
 height:99%;

 float:left;

}
img{
 width:220px;
 height:130px;
 border-radius:220px;
 float:left;

}

#division2{

 width:15%;
 height:99%;

 float:left;
 background-color: #333;
}

p{
  font-size: 25px;
 color:rgb(123,82,173);
 text-align: center; 
 }

header
{
color:rgb(255,100,26);
margin:0px 0px 0px 50px;
font-size:50px;

}




sub{
  font-size:30px;
}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    
   
}

li {
    border-right:1px solid #bbb;
    font-size:20px;
    width:300px;
    height:50px;
    margin:0px -30px 0px -30px;
    color: white;
}

li a {
    display: block;
    color: rgb(227,113,28);
    text-decoration:none;
    margin:0px 0px 0px 0px;
    
}
li a.active {
    background-color:black;
    color: white;
    }
    
li :hover:not(.active) {
    background-color: #4CAF50;
}

#section1 {
        width: 27%;
        height: 17%;
        
        margin-top: 200px;
        margin-left: 500px;
    }
    
   #part1 {
        background-color: yellow;
        width: 30%;
        height: 100%;
        color: white;
        
        text-align: center;
        float: left;
    }
    
    #part2 {
        background-color: #FFB70D;
        width: 70%;
        height: 100%;
        text-align: center;
        float:right;
    } 
    #parta{
        width: 100%;
        height: 50%;
        background-color: #4C75A3;
    }
     #partb{
        width: 100%;
        height: 50%;
        background-color:#FF5B06;
    }
    #p1{
        font-size:25px; 
        padding:7px;
    }
     #p2{
        font-size:25px;
        padding:7px;
    }
    .time{
      font-size:50px;

    }
    
 footer{
     margin-top:230px;
     margin-left:10px;
     font-size: 20px;
     color:white;

    }
 