#main{

width:100%;height:99%;
background-image:url("img.jpg");


}

#division1{

 width:84%;
 height:100%;
 float:left;

}
#img{
 width:220px;
 height:130px;
 border-radius:220px;
 float:left;

}

#division2{

 width:15%;
 height:100%;
 float:left;
 background-color: #333;
}

#p{
 color:white;
 text-align:center;
}

header
{
color:rgb(255,100,26);
margin:0px 0px 0px 50px;
font-size:50px;

}





sub{
  font-size:30px;
}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    
   
}

li {
    border-right:1px solid #bbb;
    font-size:20px;
    width:300px;
    height:50px;
    margin:0px -30px 0px -30px;
    color: rgb(227,113,28);
    display: block;
}
li a {
    display: block;
    color: rgb(227,113,28);
    text-decoration:none;
    margin:0px 0px 0px 0px;
    
}

li :hover:not(.active) {
    background-color: #4CAF50;
    color:rgb(255,0,0);
}


 #section1 {
        width: 20%;
        height: 30%;
        margin-top: 190px;
        margin-left: 500px;
    }
    
    #part1 {
        background-color:#FF5733 ;
        width: 100%;
        height: 60%;
        margin-top:40px;
        padding-top: 20px;
        font-size: 350%;
        color: white;
        text-align: center;
    }
    
    #part2 {
        background-color:#C23A2C;
        width: 100%;
        height: 25%;
        font-size:20px;
        padding-top: 10px;
        text-align: center;
        color:white;
    }
 img{

  width:220px;
  height:130px;
  border-radius:220px;
  float:left;
}

p{
  font-size: 25px;
 color:rgb(123,82,173);
 text-align: center; 
 }

footer{
	 display:block;
	
     margin-top: 160px;
     margin-left:20px;
     font-size: 20px;
     color:blue;

    }
 